
.DS_Store
.DS_Store
example_data/.DS_Store
.DS_Store
testing/tmp/data.logbeta
__pycache__/beta_compute.cpython-312.pyc
/archive
/testing
/paper
src/nfi/_version.py
/dist
/__pycache__
/ridgecrest/__pycache__
/src/py_nfi.egg-info
/ridgecrest/data/spectra
ridgecrest/data/spectra.zip
ridgecrest/p_results/data.logbeta
ridgecrest/s_results/data.logbeta
ridgecrest/s_results_backup.zip
ridgecrest/synthetic_results_backup.zip
ridgecrest/p_results_backup.zip
